################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConceptsAndProjects/.vs/ConceptsAndProjects/v16
/ConceptsAndProjects/ProgramRunner/obj
/ConceptsAndProjects/cConstructorChaining/bin/Debug/netstandard2.0
/ConceptsAndProjects/cConstructorChaining/obj
/ConceptsAndProjects/ExceptionHandler/bin/Debug/netstandard2.0
/ConceptsAndProjects/ExceptionHandler/obj
/ConceptsAndProjects/ProgramRunner/bin/Debug/netcoreapp3.1
/ConceptsAndProjects/ApplicationLogger/bin/Debug/netstandard2.0
/ConceptsAndProjects/ApplicationLogger/obj
/ConceptsAndProjects/ParallelExecution/bin/Debug/netstandard2.0
/ConceptsAndProjects/ParallelExecution/obj
