################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConceptsAndProjects/.vs/ConceptsAndProjects/v16
/ConceptsAndProjects/ProgramRunner/obj
/ConceptsAndProjects/cConstructorChaining/bin/Debug/netstandard2.0
/ConceptsAndProjects/cConstructorChaining/obj
/ConceptsAndProjects/ExceptionHandler/bin/Debug/netstandard2.0
/ConceptsAndProjects/ExceptionHandler/obj
/ConceptsAndProjects/ProgramRunner/bin/Debug/netcoreapp3.1
/ConceptsAndProjects/ApplicationLogger/bin/Debug/netstandard2.0
/ConceptsAndProjects/ApplicationLogger/obj
/ConceptsAndProjects/ParallelExecution/bin/Debug/netstandard2.0
/ConceptsAndProjects/ParallelExecution/obj
/ConceptsAndProjects/.vs
/ConceptsAndProjects/BechMark7/bin/Release/net7.0
/ConceptsAndProjects/BechMark7/obj/Debug/net7.0
/ConceptsAndProjects/BechMark7/obj
/ConceptsAndProjects/BechMarkDemo/bin/Release
/ConceptsAndProjects/BechMarkDemo/obj
/C#Design/MainSolution/.vs
/C#Design/MainSolution/MainSolution/obj
/C#Design/MainSolution/DependencyInversionPrinciple/obj
/C#Design/MainSolution/InterfaceSegregationPrinciple/obj
/C#Design/MainSolution/LiskovSubstitutionPrinciple/obj
/C#Design/MainSolution/OpenClosePrinciple/obj
/C#Design/MainSolution/SingleResponsibilityPrinciple/obj
/C#Design/DesignPatterns/.vs
/C#Design/DesignPatterns/BehavioralPattern/bin/Debug/net6.0
/C#Design/DesignPatterns/BehavioralPattern/obj
/C#Design/DesignPatterns/CreationalDesignPattern/bin/Debug/net6.0
/C#Design/DesignPatterns/CreationalDesignPattern/obj
/C#Design/DesignPatterns/StructuralDesignPattern/bin/Debug/net6.0
/C#Design/DesignPatterns/StructuralDesignPattern/obj
/C#Design/MainSolution/DotnetFundamentals/bin/Debug/net6.0
/C#Design/MainSolution/DotnetFundamentals/obj
/C#Design/MainSolution/OOPS/bin/Debug/net6.0
/C#Design/MainSolution/OOPS/obj
/C#Design/StarterAPI/SarterSolution/Starter.API/bin/Debug/net6.0
/C#Design/StarterAPI/SarterSolution/.vs
/C#Design/StarterAPI/SarterSolution/Starter.API/obj
/C#Design/StarterAPI/SarterSolution/Starter.Application/bin/Debug/net6.0
/C#Design/StarterAPI/SarterSolution/Starter.Application/obj
/C#Design/StarterAPI/SarterSolution/Starter.Domain/obj
/C#Design/StarterAPI/SarterSolution/Starter.Infrastructure/bin/Debug/net6.0
/C#Design/StarterAPI/SarterSolution/Starter.Infrastructure/obj
/C#Design/StarterAPI/SarterSolution/Starter.Domain/bin/Debug/net6.0
